<form (ngSubmit)="submit()" [formGroup]="form" nz-form role="form">
  <nz-tabset (nzSelectChange)="switch($event)" [nzAnimated]="false" class="tabs">
    <nz-tab [nzTitle]="'账户密码登录'">
      <nz-alert *ngIf="error" [nzMessage]="error" [nzShowIcon]="true" [nzType]="'error'" class="mb-lg"></nz-alert>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please enter username">
          <nz-input-group nzPrefixIcon="user" nzSize="large">
            <input formControlName="userName" nz-input placeholder="username"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please enter password">
          <nz-input-group nzPrefixIcon="lock" nzSize="large">
            <input formControlName="password" nz-input placeholder="password" type="password"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
  </nz-tabset>
  <nz-form-item>
    <nz-col [nzSpan]="12">
      <label formControlName="remember" nz-checkbox>自动登录</label>
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <button [nzLoading]="loading" nz-button nzBlock nzSize="large" nzType="primary" type="submit">
      登录
    </button>
  </nz-form-item>
</form>
