<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="add()" nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<nz-card>
  <button nz-button (click)="st.export()">Export</button>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf>
  <a [nzDropdownMenu]="menu" nz-dropdown>
    Hover me, Click menu item
    <span nz-icon nzType="down"></span>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li (click)="selectRole(item.id || '')" *ngFor="let item of roles" nz-menu-item>{{ item.name }}</li>
    </ul>
  </nz-dropdown-menu>
  <st
    #st
    [data]="url"
    [req]="{ method: method, reName: reName, allInBody: allInBody, params: params }"
    [res]="{ reName: resReName }"
    [columns]="columns"
    (change)="change($event)"
  >
    <ng-template st-row="nicknameTpl" let-item let-index="index">
      <input (ngModelChange)="st.setRow(index, { nickname: $event })" *ngIf="item.edit" [ngModel]="item.nickname"
             nz-input/>
      <ng-container *ngIf="!item.edit">{{ item.nickname }}</ng-container>
    </ng-template>
    <ng-template st-row="noteTpl" let-item let-index="index">
      <input *ngIf="item.edit" nz-input [ngModel]="item.note" (ngModelChange)="st.setRow(index, { note: $event })" />
      <ng-container *ngIf="!item.edit">{{ item.note }}</ng-container>
    </ng-template>
  </st>
</nz-card>
