<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="add()" nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<nz-card>
  <button (click)="st.export()" nz-button>Export</button>
  <button (click)="add()" nz-button nzType="primary">新建</button>
  <sf (formReset)="st.reset($event)" (formSubmit)="st.reset($event)" [schema]="searchSchema" mode="search"></sf>
  <a [nzDropdownMenu]="menu" nz-dropdown>
    角色
    <span nz-icon nzType="down"></span>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li (click)="selectRole(item.id || '')" *ngFor="let item of roles" nz-menu-item>{{ item.name }}</li>
    </ul>
  </nz-dropdown-menu>
  <st
    #st
    (change)="change($event)"
    [columns]="columns"
    [data]="url"
    [req]="{ method: method, reName: reName, allInBody: allInBody, params: params }"
    [res]="{ reName: resReName }"
  >
    <ng-template let-index="index" let-item st-row="nicknameTpl">
      <input (ngModelChange)="st.setRow(index, { nickname: $event })" *ngIf="item.edit" [ngModel]="item.nickname"
             nz-input/>
      <ng-container *ngIf="!item.edit">{{ item.nickname }}</ng-container>
    </ng-template>
    <ng-template let-index="index" let-item st-row="noteTpl">
      <input (ngModelChange)="st.setRow(index, { note: $event })" *ngIf="item.edit" [ngModel]="item.note" nz-input/>
      <ng-container *ngIf="!item.edit">{{ item.note }}</ng-container>
    </ng-template>
  </st>
</nz-card>
