<div class="container">
  <ais-instantsearch [config]="searchconfig">
    <div class="search-panel">
      <div class="search-panel__results">
        <div class="searchbox">
          <ais-search-box placeholder=""></ais-search-box>
        </div>
        <ais-hits>
          <ng-template let-hits="hits">
            <div *ngIf="hits.length === 0">
              No results found matching <strong></strong>.
            </div>
            <ol class="ais-Hits-list">
              <li *ngFor="let hit of hits" class="ais-Hits-item">
                <div>
                  用户ID:
                  <div class="hit-userId">
                    <ais-highlight [hit]="hit" attribute="userId"></ais-highlight>
                  </div>
                </div>
                <div>
                  路由:
                  <div class="hit-route">
                    <ais-highlight [hit]="hit" attribute="route"></ais-highlight>
                  </div>
                </div>
                <div>
                  内容:
                  <div class="hit-body">
                    <ais-highlight
                      [hit]="hit"
                      attribute="body"
                    ></ais-highlight>
                  </div>
                </div>
                <div>
                  返回:
                  <div class="hit-res">
                    <ais-highlight
                      [hit]="hit"
                      attribute="res"
                    ></ais-highlight>
                  </div>
                </div>
                <div>
                  ID:
                  <div class="hit-id">
                    <ais-highlight
                      [hit]="hit"
                      attribute="id"
                    ></ais-highlight>
                  </div>
                </div>
                <div>
                  <div class="hit-date">
                    时间:
                    <ais-highlight
                      [hit]="hit"
                      attribute="date"
                    ></ais-highlight>
                  </div>
                </div>
              </li>
            </ol>
          </ng-template>
        </ais-hits>

        <div class="pagination">
          <ais-pagination></ais-pagination>
        </div>
      </div>
    </div>
  </ais-instantsearch>
</div>
